.alt-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  margin-top: 20px;
  z-index: 1;
}
.alt-header__column {
  width: 33%;
}
.alt-header__column--title {
  font-size: 30px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header__column i:last-child {
  margin-left: 20px;
}
